<?xml version='1.0' encoding='windows-1252'?>
<!--
  WiX MSI installer for aegis-cli (REQ-BUILD-047).

  Build:  cargo wix -p aegis-cli -nocapture
  Output: target/wix/aegis-cli-VERSION-x86_64.msi

  REQ-BUILD-055: UpgradeCode GUID replaced (REQ-BUILD-056 enforces via CI test).
  WARNING: Do NOT change the UpgradeCode after first release. It identifies
  this product line for in-place upgrades across all deployed installations.
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='aegis'
        UpgradeCode='E10B5C98-3D43-4D7F-92F3-6303DB263EF1'
        Manufacturer='RTMX AI'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='aegis - Terminal-native AI pair programmer for CUI environments'
            Manufacturer='RTMX AI'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='x64'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='aegis Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='aegis'>

                    <Component Id='aegis_exe' Guid='*' Win64='yes'>
                        <File
                            Id='aegis_exe_file'
                            Name='aegis.exe'
                            DiskId='1'
                            Source='target\x86_64-pc-windows-msvc\release\aegis.exe'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='license' Guid='*' Win64='yes'>
                        <File
                            Id='license_file'
                            Name='LICENSE'
                            DiskId='1'
                            Source='LICENSE'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='readme' Guid='*' Win64='yes'>
                        <File
                            Id='readme_file'
                            Name='README.md'
                            DiskId='1'
                            Source='README.md'
                            KeyPath='yes'/>
                    </Component>

                    <!-- Add aegis to PATH -->
                    <Component Id='path_env' Guid='7ABEB8D8-18BE-4C30-B098-B0CA1D1FF31B' Win64='yes'>
                        <CreateFolder/>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[APPLICATIONFOLDER]'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'
                            KeyPath='yes'/>
                    </Component>

                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='aegis'
            Description='The aegis CLI binary and documentation.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='aegis_exe'/>
            <ComponentRef Id='license'/>
            <ComponentRef Id='readme'/>
            <ComponentRef Id='path_env'/>

        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!-- Properties for Add/Remove Programs -->
        <Property Id='ARPHELPLINK' Value='https://github.com/rtmx-ai/aegis-cli'/>
        <Property Id='ARPURLINFOABOUT' Value='https://rtmx.ai'/>

        <!-- Support silent install: msiexec /i aegis.msi /qn -->
        <UIRef Id='WixUI_Minimal'/>
        <WixVariable Id='WixUILicenseRtf' Value='crates\aegis-cli\wix\License.rtf'/>

    </Product>

</Wix>
